/*
    Author: Adrian Xu;
    Theme: Restaurant Food Order;
    Version: 1.0;
*/

/*CSS for all*/
fieldset{
    border: 1px solid gray;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}


*{
    margin: 0 0;
    padding: 0 0;

    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.img-responsive {
    width: 100%;
}

.text-right {
    text-align: right;
}

.clearfix {
    clear: both;
    float: none;
}

a {
    color: rgb(109, 129, 245);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: lightblue;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

.btn {
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}
.btn-primary {
    background-color: gray;
    color: white;
    cursor: pointer;
}

.btn-primary:hover {
    color: white;
    background-color: lightgray;
}

h2 {
    color: gray;
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}

.float-container {
    position: relative;
}

.float-text {
    position: absolute;
    bottom: 50px;
    left: 35%;
}

.img-curve {
    border-radius: 20px;
}

/*Css for nav bar sec*/
.logo {
    width: 20%;
    float: left;
}

.navigation {
    line-height: 70px;
}
 .navigation ul {
    list-style-type: none;
 }
 .navigation ul li {
    display: inline;
    padding: 1%;
 }

 .cart-logo {
    width:  20px;
    height: 20px;
 }
/*Css for search section*/

.food-search {
    background-image: url(../images/searchBG.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 25%;
}
.food-search-2 {
	background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5%;
    margin-top: -5%;
}


.food-search input[type = "search"] {
    width: 50%;
    padding: 1%;
    font-size: 1rem;
}



/*Css for categories*/
.categories {
    padding: 4% 0;
}

.box-3 {
    width: 28%;
    float: left;
    margin: 2.5%;
}

/*Css for food menu*/
.food-menu {
    padding: 4% 0;
}
.food-menu-box {
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    border-radius: 10px;
    background-color: white;
}
.food-menu-img {
    width: 30%;
    float: left;
}
.food-menu-desc {
    width: 65%;
    float: left;
    margin-left: 5%;
}

.food-price {
    font-size: 1.2rem;
    margin: 1% 0;
}

.food-desc {
    font-size: 0.8rem;
    color: gray;
}





/*Css for social*/
.social ul {
    list-style-type: none;
}
.social ul li {
    display: inline;
    padding: 1%;
}
.logo-fix {
    width:  20px;
    height: 20px;
    float: middle;
}


/*Css for footer*/
.footer {
    float: middle;
    /* width: 100%; */
}


/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}

/*Css for mobile size*/

@media only screen and (max-width: 768px) {
    .logo {
        width: 40%;
        float: none;
        margin: 1% auto;
    }

    .menu ul {
        text-align: center;
    }

    .food-search input[type = "search"] {
        width: 90%;
        padding: 2%;
        margin-bottom: 5%;
    }

    .btn {
        width: 90%;
    }

    .food-search {
        padding: 20%;
    }

    .categories {
        padding: 10% 0;
    }

    
    .box-3 {
        width: 90%;
        margin: 5% auto;
    }

    .food-menu {
        padding: 10% 0;
    }

    .food-menu-box {
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
}




.success {
    color: #2ed573;
}
.error {
    color: #ff4757;
}